header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  z-index: 1;
  position: relative;
  background-color: $white;

  //  logo
  .logo {
    img {
      cursor: pointer;
    }
  }
  //  mobile nav
  .mobile-nav {
    display: none;
  }

  //  mobile btn
  .mobile {
    img {
      cursor: pointer;
    }
  }

  //  nav
  .nav {
    display: none;
  }
}
