#home {
  margin-bottom: 5rem;
  // img
  .img {
    width: 100%;
    background-image: url('../../images/bg-intro-mobile.svg');
    margin-top: -13rem;
    background-repeat: no-repeat;
    .mobile {
      width: 100%;
    }
  }

  // text
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    .title {
      font-size: 2.8rem;
      color: $dark-blue;
      font-weight: 700;
      padding: 3rem 3.5rem 1.5rem 3.5rem;
    }
    .info {
      color: $grayish-blue;
      font-size: 1.4rem;
      padding: 1.5rem;
    }
    .btn {
      font-size: 1.3rem;
      margin-top: 2rem;
      background: linear-gradient(to right, $lime-green, $bright-cyan);
      color: $very-light-gray;
      padding: 1rem 2rem;
      border: none;
      border-radius: 2rem;
    }
  }
}
